$big-radio-size: 75px;

%panel__label {
  border-radius: 10px;
  display: block;
  float: left;
  padding: 6px;
  text-align: center;
}

// SVG
%panel__icon {
  display: block;
  fill: $c-panel-icon;
  width: 100%;
}

%panel__header {
  @include rem-fall(font-size, 1.5);
  background-color: $c-panel-header;
  color: $near-white;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: $gutter * .5 $gutter;
  a {
    line-height: 1em;
    &:hover {
      svg {
        fill: darken($c-panel-header, 25%);
        // pointer-events: none;
      }
    }
  }
  svg {
    fill: $near-white;
    height: 1em;
    width: 1em;
    vertical-align: middle;
  }
}

%panel__inner {
  @include rem-fall(font-size, 1);
  padding: $gutter;
}


.panel {
  .panel__header {
    @extend %panel__header;
  }

  &__back {
    margin-left: -5px;
  }

  &__close {
    margin-right: -5px;
  }

  &__inner {
    @extend %panel__inner;
  }

}

// Override theme's p's
.panel__inner .panel__descrip {
  clear: both;
  line-height: 1.65;
  padding: 0 $gutter*.25;// $gutter;
}

.panel__toggles {
  background-color: $c-panel-toggle;
  box-shadow: 0 -2px 15px 0;
  display: flex;
  position: relative;
}

// Stupid override
// a.panel__toggle {
.panel__toggle {
  color: $near-white;
}

.panel__toggle {
  background-color: $c-panel-toggle;
  border-left: solid darken($c-panel-toggle, 10%) 1px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 5px #222;
  width: 25%;

  @include rem-fall(font-size, 1.3);
  @include rem-fall(padding, $panel-toggle-padding, 0, $panel-toggle-padding, 0);

  @include mq($from: tablet) {

    $p: $panel-toggle-padding*.5;
    // Less padding on bigger screens
    @include rem-fall(padding, $p, 0, $p, 0);

  }


  &:first-of-type {
    border-left: 0;
  }

  &:hover {
    background-color: $c-panel-toggle-hover;
    color: $near-white;
    transition: $a-bg-hover-transition;
  }

  &__label {
    display: none;

    @include mq($from: tablet) {
      display: inline-block;
      vertical-align: middle;
    }

  }

  &__icon {

    $l-icon-size: $panel-toggle-content-ht * .75;

    @include rem-fall(height, $l-icon-size);

    @include rem-fall(width, $l-icon-size);

    display: inline-block;
    fill: $near-white;
    margin-right: 5px;
    vertical-align: middle;

    @include mq($from: tablet) {

      $l-icon-p: .25;

      @include rem-fall(padding, $l-icon-p, 0);

      $l-icon-size-big: $panel-toggle-content-ht;

      @include rem-fall(height, $l-icon-size-big);

      @include rem-fall(width, $l-icon-size-big);

      fill: darken($c-panel-toggle, 30%);

    }
  }

}
