/***********************************/
/*********** TRAIL PANEL ***********/
/***********************************/

/* Grade, caution, trail condition toggles

  // Shared \\
  .panel--trail: set all svg fill?
  .toggle--trail (outer container, label element)
  .toggle--trail__header (pronounced, span element)
    svg: same color as header?

  .legend-line (span container, maybe do SVG instead?)

  // Grade \\
  .legend-line__overlay--grade
  Only overlay color changes

  // Caution \\
  .legend-line__overlay--caution
  Only overlay color changes

  // Trail condition \\
  .toggle__icon--trail-cond: goes before header

*/

/* Trail pics/faces toggles

  // Shared \\
  .toggle--pics (outer container, label element)
  .toggle--pics__header (pronounced, span element)
    svg: same color as header?

*/

/***********************************/

/* Top-level panel assignments */
.panel--trail {
  svg {
    display: inline;
    fill: $c-panel--trail__header;
    height: 1.8rem;
    width: 1.8rem;
  }
  // Paragraphs:
  &__narrative {
    margin-top: 0;
  }
  &__header {
    font-size: 1.2rem;
  }
}

/* Grade, caution, trail condition toggles */

// Shared \\
.panel--trail__label {
  align-items: center;
  justify-content: center;
  flex: 0 48%;
  display: box;
  display: flex;
  padding: .3rem 4px;
  &.trail-cond {
    flex: 0 100%;
  }
  svg {
    margin-right: 5px;
  }
  // Container:
  &-cont {
    display: flex;
    justify-content: space-between;
    ~ h3 {
      margin-top: .9rem;
    }
  }
  &.space-around {
    justify-content: center;
  }

}

// Line symbols in legend \\
.legend-line {
  $line-height: 4px;
  flex: 0 30%;
  background-color: $near-white;
  border-color: $near-black;
  border-style: dashed;
  border-width: $line-height 0 0 0;
  height: $line-height;
  margin-left: 5px;
  position: relative;
  // width: $line-width;

  span {
    display: block;
    height: $line-height;
    opacity: .65;
    position: relative;
    top: $line-height*-1;
    width: 100%;
  }

}

// Line overlay colors
.line-overlay {

  &--sbht_grade {
    background-color: $c-grade-overlay;
  }

  &--sbht_caution {
    background-color: $c-caution-overlay;
  }
}

// Different color for trail cond icon \\
svg.toggle__icon--trail-cond {
  background-color: $near-white;
  border-radius: 5px;
  border: solid darken($winter, 25%) 1px;
  fill: darken($winter, 5%);
  // fill: $winter;
  height: 1.8rem;
  padding: .2rem;
  width: 1.8rem;
}
