//// THE NAV VIEW \\\\

/* PAGE CONTAINER */
.poi-toggles-view-cont {
  // display: flex;
  // flex-wrap: wrap;
  // height: 100%;
  // height: calc(100% - #{$panel-toggle-ht});
  // @include mq($from: tablet) {
  // }
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;//$panel-toggle-ht;
  overflow: hidden;
  position: absolute;
}

// Fill the space
%l-poi-view-pos {
  bottom: 0;// $panel-toggle-content-ht;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

// Individual pages
.poi__page-- {

  // Nav page
  &nav {

    @extend %l-poi-view-pos;
    display: box;
    display: flex;
    flex-flow: column nowrap;
    // justify-content: space-between;

    ////* Animations *////
    // Coming in from the left: nav view
    &.ng-enter {
      animation: $a-poi-trans-dur slideInLeft ease;
    }

    // Nav view as it's leaving
    &.ng-leave {
      animation: $a-poi-trans-dur slideOutLeft ease;
    }

  }

  // Features and commercial pages
  &page {

    @extend %l-poi-view-pos;
    &.page--comm {
      align-content: flex-start;
    }
    align-content: stretch;
    display: box;
    display: flex;
    // flex-direction: column;
    flex-flow: row wrap;

    input:checked + label {
      text-shadow: 1px 1px 1px $near-black;

    }
    ////* Animations *////
    // Coming in from the right: non-nav views
    &.ng-enter {
      animation: $a-poi-trans-dur slideInRight ease;
    }

    // Page view as it's leaving
    &.ng-leave {
      animation: $a-poi-trans-dur slideOutRight ease;
    }

  }

}

/* Icons on nav page */
%poi__page--nav__icon {
  height: $l-nav-icon-size;
  width: $l-nav-icon-size;
  border-radius: 100%;
  fill: $near-white;
  padding: 5px;
}

.poi-toggles-nav {

  // Features nav icon
  &__icon-feat {
    @extend %poi__page--nav__icon;
    @extend %c-poi-toggles-icon--feat;
  }

  // Comm nav icon
  &__icon-comm {
    @extend %poi__page--nav__icon;
    @extend %c-poi-toggles-icon--comm;
  }

  &__link {

    background-color: transparent;
    cursor: pointer;
    padding: .5rem 0;
    transition: $a-all-hover-transition;
    &:hover {

        background-color: lighten($c-panel-toggle, 20%);
      // @include mq($from: desktop) {
      // }
    }
    // @extend %input-hover;

  }

}

// The next arrows
%icon-next {
  font-size: $l-nav-icon-size * .75;
  display: inline-block;
  vertical-align: middle;
}

.icon-next-- {

  &feat {
    @extend %icon-next;
  }

  &comm {
    @extend %icon-next;
  }

}


/* FEATURES & COMMERCIAL TOGGLES */
%poi-toggle--icon {
  // height: 100%;
  // display: block;
  padding: 0.1rem;
  vertical-align: middle;
  border-radius: 25px;
  fill: $near-white;
  margin-right: 10px;
    height: 1.8rem;
    width: 1.8rem;
  @include mq($from: tablet) {
    // width: 35px;
  }

}

.poi-toggle {

  &--feat {
    &__icon {
      @extend %poi-toggle--icon;
      @extend %c-poi-toggles-icon--feat;
    }
  }

  &--comm {
    &__icon {
      @extend %poi-toggle--icon;
      @extend %c-poi-toggles-icon--comm;
    }
  }

  &__label {
    align-items: center;
    display: box;
    display: flex;
    flex: 1 46%;
    font-size: 1rem;
    line-height: 1;
    margin: .1rem 1%;
    padding: $l-label-padding .4rem;
    span {
      // display: inline;
      // vertical-align: middle;
      // height: 1.8rem;
      // width: 60%;
    }
  }
}
