/* POI page container */
$a-long-trans: 5000ms;

%poi-page-shared {
  opacity: 1;
}

.poi-page {

  &--home {

    opacity: 1;

    &.ng-hide-add.ng-hide-add-active {
      animation: $a-poi-trans-dur slideOutLeft ease;
    }

    &.ng-hide-remove.ng-hide-remove-active {
      animation: $a-poi-trans-dur slideInLeft ease;
    }

    &.ng-hide {
      opacity: 0;
    }

  }

  &--poi {

    opacity: 1;

    &.ng-hide-add.ng-hide-add-active {
      animation: $a-poi-trans-dur slideOutRight ease;
    }

    &.ng-hide-remove.ng-hide-remove-active {
      animation: $a-poi-trans-dur slideInRight ease;
    }

    &.ng-hide {
      opacity: 0;
    }

  }
}


/* Subgroup (Home) page */

// List and list items
.poi-subgroup {

  // Not the last list item
  &+.poi-subgroup:before {
    content: "";
    display: block;
    height: .1rem;
    @include mq($from: tablet){
      height: .4rem;
    }
  }
  &-list {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: .75rem;
    @include mq($from: tablet){
      margin-bottom: .5rem;
    }
    margin-top: .25rem;

    // Override positioning from shared class
    .poi-type__icon {
      margin-right: 10px;
      // float: none;
    }
  }
  &-link {
    color: $near-black;
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    transition: $a-all-hover-transition;

    .poi-subgroup__preview {
      text-decoration: none;
    }

    &--feat {
      &:hover {
        color: $c-feat-pin-bg;
      }
    }

    &--comm {
      &:hover {
        color: $c-comm-pin-bg;
      }
    }
  }
  &__name {
    display: block;
    font-size: 1rem;
    @include mq($from: tablet){
      font-size: 1.1rem;
    }
    line-height: 1;
    text-decoration: underline;
  }

  // Preview list (assumes more than 1 per category)
  &__preview {
    color: $gray;
    display: block;
    font-size: .8rem;
    line-height: 1.5;
    text-decoration: none;
    // width: 50%;
    // white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
  }
}

.subgroup-header {
  font-size: 1.2rem;
  margin-bottom: .1rem;
  @include mq($from: tablet){
    font-size: 1.4rem;
    margin-bottom: .5rem;
  }
}

/* POI LISTS */
.poi-type-list {
  // display: flex;
  flex-flow: column;
  justify-content: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* POI LIST ITEMS & DESCENDANTS */
.poi-type {
  align-items: center;
  // display: flex;

    margin-bottom: .4rem;
  @include mq($from: tablet){
  }

  /* Labels */
  &__label {
    // align-items: center;
    background-color: green;
    // display: flex;
    flex: 0 100%;
    font-size: 1.2rem;
    line-height: .8;
    padding: .3em .4em .2em;
  }
  /* SVG icons */
  &__icon {
    $size: 2rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    display: inline;
    fill: $near-white;
    float: left;
    height: $size;
    margin-right: 7px;
    padding: .2rem;
    width: $size;
    @include mq($from: tablet){
      height: $size*1.2;
      width: $size*1.2;
    }
    &--feat {
      background-color: $c-feat-pin-bg;
      border-color: $c-feat-pin-stroke;
    }
    &--comm {
      background-color: $c-comm-pin-bg;
      border-color: $c-comm-pin-stroke;
    }
  }
  &__text {
    display: inline;
    // display: block;
    flex-flow: column;
    float: left;
    background-color: blue;
  }
  &__name {
    display: inline;
    background-color: red;
  }
  &__desc {
    // display: inline;
    color: lighten($gray, 10%);
    flex: 0 35%;
    font-size: .6em;
    line-height: .9;
    text-shadow: none;
  }
}

