/* Info pages */
.info-page-- {

  &home {

    opacity: 1;

    &.ng-hide-add.ng-hide-add-active {
      animation: $a-poi-trans-dur slideOutLeft ease;
    }

    &.ng-hide-remove.ng-hide-remove-active {
      animation: $a-poi-trans-dur slideInLeft ease;
    }

    &.ng-hide {
      opacity: 0;
    }

  }

  &topic {

    opacity: 1;

    &.ng-hide-add.ng-hide-add-active {
      animation: $a-poi-trans-dur slideOutRight ease;
    }

    &.ng-hide-remove.ng-hide-remove-active {
      animation: $a-poi-trans-dur slideInRight ease;
    }

    &.ng-hide {
      opacity: 0;
    }

    h5 {
      @extend %h4;
    }

    // Wrap if using no <p>
    p {
      white-space: pre-wrap;
    }

  }
}

/* Logos list */
.logos {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  > li {
    flex: 0 22%;
  }
}

/* Individual logos */
.logo {
    width: 100%;
}

/* Credits */
.credits {
    color: $gray;
    display: block;
    font-size: .9rem;
    margin-top: .25rem;
    margin-bottom: .75rem;
}

/* Topics list */
.info-topics-list {

  // Add space after last list item
  li:last-of-type {
    &:after {
      content: "";
      display: block;
      height: 1rem;
    }
  }

}

.info-topics-link {
  font-size: 1.1rem;
}

