.panel {
  .panel__header {
    @extend %panel__header;
    // background-color: $c-panel-header;
  }

  &__back {
    margin-left: -5px;
  }

  &__close {
    margin-right: -5px;
  }

  &__inner {
    @extend %panel__inner;
  }

  // Animations
  &.ng-hide- {
    &remove {
      animation: .5s fadeInUp ease;
    }

    &add {
      animation: .2s fadeOutDown ease;
    }
  }

  // Border and padding above small
  small {
    border-top: solid $gray 1px;
    display: block;
    margin-top: .5rem;
    padding-top: .3rem;
  }

}

/* TOGGLES */

// Container
.panel__toggles {
  background-color: $c-panel-toggle;
  box-shadow: 0 -2px 15px 0;
  display: box;
  display: flex;
  position: relative;
}

// Individual toggles
.panel__toggle {
  background-color: $c-panel-toggle;
  border-left: solid darken($c-panel-toggle, 10%) 1px;
  color: $near-white;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 5px #222;
  width: 25%;

  font-size: 1.3rem;
  padding: $panel-toggle-padding 0;

  @include mq($from: tablet) {

    $p: $panel-toggle-padding*.5;
    // Less padding on bigger screens
    @include rem-fall(padding, $p, 0, $p, 0);

  }


  &:first-of-type {
    border-left: 0;
  }

  &:hover {
    background-color: $c-panel-toggle-hover;
    color: $near-white;
    transition: $a-bg-hover-transition;
  }

  &__label {
    display: none;

    @include mq($from: tablet) {
      display: inline-block;
      vertical-align: middle;
    }

  }

  &__icon {

    @include rem-fall(height, $l-panel-toggle-icon-size);

    @include rem-fall(width, $l-panel-toggle-icon-size);

    display: inline-block;
    fill: $near-white;
    margin-right: 5px;
    vertical-align: middle;

    @include mq($from: tablet) {

      $l-icon-p: .25;

      @include rem-fall(padding, $l-icon-p, 0);

      $l-panel-toggle-icon-size-big: $panel-toggle-content-ht;

      @include rem-fall(height, $l-panel-toggle-icon-size-big);

      @include rem-fall(width, $l-panel-toggle-icon-size-big);

      fill: darken($c-panel-toggle, 30%);

    }
  }

}
