/* SEASONS LABELS */

/* Inner seasons panel (delete class if doing flex on all panel__inner's) */

// The keeper of the seasons
.seasons-container {
  display: box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: .85rem 0;
}

/* All labels */
.label--seasons {

  border-radius: 10px;
  display: box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  flex: 0 28%;
  padding: .25rem .5rem;

  &:hover {
    border-radius: 10px;

    .spring {
      fill: $spring;
    }

    .summer {
      fill: $summer;
    }

    .fall {
      fill: $fall;
    }

    .winter {
      fill: $winter;
    }

  }
  svg {
    pointer-events: none;
    fill: $c-panel-icon;
    transition: $a-icon-fill-trans;
    height: 3.7rem;
    width: 3.7rem;
  }

}

/* Individual */
.panel input:not(:checked) + .label--seasons {
  &:hover {
    background-color: $c-seasons-label-fill-checked;
  }
}
.panel input:checked + .label--seasons {

  flex: 1 100%;
  flex-flow: row nowrap;
  margin-top: .7rem;
  order: 4;
  font-size: 2rem;
  background-color: $c-seasons-label-fill-checked;


  svg {
    fill: $c-panel-icon;
    height: 4rem;
    width: 4rem;
    margin-right: 0.5rem;
  }

  .spring {
    fill: $spring;
  }

  .summer {
    fill: $summer;
  }

  .fall {
    fill: $fall;
  }

  .winter {
    fill: $winter;
  }

}

.panel__icon {

  border-radius: 10px;
  pointer-events: none;

}

