/***********************************/
/*********** TRAIL PANEL ***********/
/***********************************/

/* Grade, caution, trail condition toggles

  // Shared \\
  .panel--trail: set all svg fill?
  .toggle--trail (outer container, label element)
  .toggle--trail__header (pronounced, span element)
    svg: same color as header?

  .legend-line (span container, maybe do SVG instead?)

  // Grade \\
  .legend-line__overlay--grade
  Only overlay color changes

  // Caution \\
  .legend-line__overlay--caution
  Only overlay color changes

  // Trail condition \\
  .toggle__icon--trail-cond: goes before header

*/

/* Trail pics/faces toggles

  // Shared \\
  .toggle--pics (outer container, label element)
  .toggle--pics__header (pronounced, span element)
    svg: same color as header?

*/

/***********************************/

/* Top-level panel assignments */
.panel--trail {
  label {
    align-items: center;
    // align-self: center;
    display: box;
    display: flex;
    flex: 0 46%;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: .3rem 4px;
  }
  svg {
    display: inline;
    fill: $c-panel--trail__header;
    height: 1.8rem;
    width: 1.8rem;
  }
}

/* Grade, caution, trail condition toggles */

// Shared \\
.toggle--trail {

  &__flex-wrap {
    display: box;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    p {
      flex: 0 50%;
    }
    p + input + label {
      align-self: center;
    }
  }
}

// Margin below grade/caution \\
.toggle--trail__flex-wrap {
  &:first-of-type {
    margin-bottom: .5rem;
  }
}

// Line symbols in legend \\
.legend-line {
  $line-height: 4px;
  $line-width: 50px;
  background-color: $near-white;
  border-color: $near-black;
  border-style: dashed;
  border-width: $line-height 0 0 0;
  height: $line-height;
  position: relative;
  width: $line-width;
  span {
    display: block;
    height: $line-height;
    opacity: .65;
    position: relative;
    top: $line-height*-1;
    width: 100%;
  }
}

// Line overlay colors
.line-overlay {

  &--grade {
    background-color: $c-grade-overlay;
  }

  &--caution {
    background-color: $c-caution-overlay;
  }
}

// Different color for trail cond icon \\
svg.toggle__icon--trail-cond {
  background-color: $near-white;
  border-radius: 5px;
  border: solid darken($winter, 25%) 1px;
  fill: darken($winter, 5%);
  // fill: $winter;
  height: 1.8rem;
  padding: .2rem;
  width: 1.8rem;
}
