$l-spacing-x: 6%;
$l-spacing-y: .65em;

.panel__label--seasons {

  @extend %panel__label;

  margin-right: 2%;
  width: 23.5%;

  @include mq($from: desktop) {

    &:hover {
      background-color: $c-panel-checked-fill;
      border-radius: 10px;
      transition: $hover-transition;
    }

  }

  &:last-of-type {
    margin-bottom: $l-spacing-y*.75;
    margin-right: 0;
  }

}

.panel__radio:checked + .panel__label--seasons {
  background-color: $c-panel-checked-fill;
  border: solid 1px darken($c-panel-checked-fill, 5%);
  border-radius: 10px;

  .spring {
    fill: $spring;
  }

  .summer {
    fill: $summer;
  }

  .fall {
    fill: $fall;
  }

  .winter {
    fill: $winter;
  }

}

.panel__icon {

  @extend %panel__icon;

}