$l-spacing-x: 6%;
$l-spacing-y: .85em;

.panel__label--seasons {

  border-radius: 10px;

  &:hover {
    border-radius: 10px;
  }

}

.panel__radio:checked + .panel__label--seasons {

  .spring {
    fill: $spring;
  }

  .summer {
    fill: $summer;
  }

  .fall {
    fill: $fall;
  }

  .winter {
    fill: $winter;
  }

}

.panel__icon {

  border-radius: 10px;
  display: block;
  fill: $c-panel-icon;
  height: 100%;
  padding: 5px;
  pointer-events: none;
  width: 100%;

}

// The keeper of the seasons
.seasons-container {
  display: flex;
}
