# License #
###########
license.txt

# Build #
#########
build

# CSS #
#######
src/assets/css

# Sass #
#######
src/assets/scss/vendor

# JS #
######
src/assets/js/vendor
src/app/map-app.js

# Spatial #
###########
src/assets/spatial/data
src/assets/spatial/qgis

# Images #
##########
img-prod
src/assets/img/svg/shared
src/assets/img/svg/project/icons/min
src/assets/img/svg/QGIS-default

# Grunt #
##########
.sublime-grunt-cache
src/assets/img/raster/src-junk
