# Build #
#########
build

# CSS #
#######
#src/assets/css

# Sass #
#######
#src/assets/scss/vendor
src/assets/scss/auto
src/assets/scss/inline

# Beta Disclaimer #
######
src/app/map/beta-disclaimer.html
src/app/map/betaDisclaimerCtrl.js

# JS #
######
src/assets/js/vendor
src/app/config/handyLeafletFns.js
!src/assets/js/vendor/angular-animate.js
!src/assets/js/vendor/angular-ui-router.js
!src/assets/js/vendor/dirPagination.js
!src/assets/js/vendor/esri-leaflet-basemaps.js
!src/assets/js/vendor/fastclick.js
!src/assets/js/vendor/leaflet-gps.js
!src/assets/js/vendor/leaflet-history-src.js


# Spatial #
###########
src/assets/spatial
!src/assets/spatial/carto-css

# Images #
##########
*.ini
*.picasaoriginals
img_prod
src/assets/img/raster/src-junk
src/assets/img/raster/logos/beta-disclaimer
#src/assets/img/svg/project/defs
src/assets/img/svg/project/min/*.svg
src/assets/img/svg/project/sbht-splash.svg
src/assets/img/svg/QGIS-default
src/assets/img/svg/shared

# Grunt #
##########
.sublime-grunt-cache

# Junk #
###########
*.sublime-project
*.sublime-workspace
.DS_Store
*.sublime-grunt
.tmp
vagrant-folder