<nav class="controls">
    <input checked class="controls__checkbox" type="checkbox" href="javascript:;" name="menu-open" id="menu-open"/>
    <label class="controls__label" for="menu-open">
        <svg class="controls__icon" viewBox="0 0 100 100">
            <use xlink:href="#icon-tools"></use>
        </svg>
    </label>
    <div class="filter-container-y">
        <a class="controls__menu-item" href="javascript:;"></a>
        <a class="controls__menu-item" href="javascript:;"></a>
        <a class="controls__menu-item" href="javascript:;"></a>
    </div>
    <svg class="controls__icon" viewBox="0 0 100 100" ng-click="vm.zoomIn()">
        <use xlink:href="#icon-zoom-in"></use>
    </svg>
    <svg class="controls__icon" viewBox="0 0 100 100" ng-click="vm.zoomOut()">
        <use xlink:href="#icon-zoom-out"></use>
    </svg>
    <svg class="controls__icon" viewBox="0 0 100 100" ng-click="vm.zoomHome()">
        <use xlink:href="#icon-zoom-home"></use>
    </svg>
    <div class="filter-container-x">
        <a class="controls__menu-item" href="javascript:;"></a>
        <a class="controls__menu-item" href="javascript:;"></a>
        <a class="controls__menu-item" href="javascript:;"></a>
        <a class="controls__menu-item" href="javascript:;"></a>
    </div>
    <svg class="controls__icon" viewBox="0 0 100 100" ng-click="vm.locate()">
        <use xlink:href="#icon-locate"></use>
    </svg>
    <svg class="controls__icon" viewBox="0 0 100 100" ng-click="vm.fullScreen()">
        <use xlink:href="#icon-enable-full"></use>
    </svg>
    <svg class="controls__icon" viewBox="0 0 100 100" ng-click="vm.changeTiles()">
        <use xlink:href="#icon-camera"></use>
    </svg>
    <svg class="controls__icon" viewBox="0 0 100 100" ng-click="vm.changeTiles()">
        <use xlink:href="#icon-back"></use>
    </svg>
</nav>
