<div class="popup">
	<h2 class="popup__header">{{vm.features.name}}
		<a class="popup__close" ui-sref="home" href="javascript:;" ng-click="$state.go('home')">
			<svg viewBox="0 0 100 100"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg>
		</a>
	</h2>
	<div class="popup__header">
		<h2><a href='{{vm.features.audio}}' target="_blank">SoundCloud clip</a></h2>
		<h2><a href='{{vm.features.video}}' target="_blank">YouTube clip</a></h2>
		<h2>{{vm.features.type}}</h2>
	</div>
</div>