<div class="popup">
	<h2 class="popup__header">
		<a class="no-hover" href="javascript:;" ng-click="vm.setPopupPg()">
			<svg class="popup-icon--type no-hover" viewBox="0 0 100 100" ng-show="vm.showPopupInfo">
			    <use ng-attr-xlink:href="{{vm.typeIcon}}" xlink:href=""></use>
			</svg>
		</a>
		<span>
			{{vm.title}}
		</span>
		<a class="popup__close" ui-sref="home" href="javascript:;" ng-click="vm.closePopup()">
			<svg viewBox="0 0 100 100"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg>
		</a>
	</h2>
	<div class="active-img-container">
		<div class="active-img"
			dir-paginate="img in vm.activeImages | itemsPerPage: 1"
			ng-style="{'background-image': 'url(' + img + ')'}"
			pagination-id="mainImg">
		</div>
		<dir-pagination-controls pagination-id="mainImg"></dir-pagination-controls>
	</div>
	<div class="thumbs-container">
		<ul class="thumbnail-list">
		    <li dir-paginate="img in vm.secondaryThumbs | itemsPerPage: 5" pagination-id="thumbs">
		    	<a class="thumbnail" ng-click="vm.activeImg = img.base" alt="">
		    		<img ng-src="{{img.thumb}}" alt="">
		    	</a>
		    </li>
		</ul>
		<dir-pagination-controls pagination-id="thumbs"></dir-pagination-controls>
	</div>
</div>