<div class="popup">

	<!-- IMAGE PAGE -->
	<div class="popup__inner popup__inner--fluid"
		ng-show="vm.imgPopupPage">
		<div class="popup__box">
			<div class="popup__row popup__row--snug">
				<h2 ng-class="{'popup__header popup__header--fluid': vm.imgPopupPage, 'popup__header': !vm.imgPopupPage}">
					<a class="no-hover" href="javascript:;" ng-click="vm.setPopupPg()">
						<svg class="popup-icon--type no-hover" viewBox="0 0 100 100" ng-show="vm.showPopupInfo">
						    <use ng-attr-xlink:href="{{vm.typeIcon}}" xlink:href=""></use>
						</svg>
					</a>
					<span>
						{{vm.title}}
					</span>
					<a class="popup__close btn" ui-sref="home" href="javascript:;" ng-click="vm.closePopup()">
						<svg viewBox="0 0 100 100"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg>
					</a>
				</h2>
				<div class="active-img-container"
					dir-paginate="img in vm.activeImages | itemsPerPage: 1"
					pagination-id="mainImg">
						<div class="active-img"
						ng-style="{'background-image':'url(' + img + ')'}">
						</div>
					</div>
				</div>
				<dir-pagination-controls pagination-id="mainImg"></dir-pagination-controls>
			</div>
		</div>
		<div class="thumbs-container">
			<div class="nearby-tab">
				<svg class="icon--nearby" viewBox="0 0 100 100"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nearby"></use></svg>
				Nearby
			</div>
			<ul class="thumbnail-list">
			    <li dir-paginate="img in vm.thumbsData | itemsPerPage: 5" pagination-id="thumbs">
			    	<a class="thumbnail" title="{{img.path}}"
			    		ng-click="vm.resetPopup(img.layer, img.cartodb_id)">
			    		<img ng-src="{{img.path}}">
			    	</a>
			    </li>
			</ul>
			<dir-pagination-controls pagination-id="thumbs"></dir-pagination-controls>
		</div>
	</div>
	<!-- INFO PAGE -->
	<div class="popup__inner"
		ng-show="!vm.imgPopupPage">
		<div class="popup__box">
			<div class="popup__row">
				<h3>Contact Info</h3>
				<h3>Share this:</h3>
				<h3>Media</h3>
			</div>
		</div>
	</div>
</div>