<div class="popup">
	<h2 class="popup__header">
		<a href="javascript:;"></a>
		<span>
			<svg viewBox="0 0 100 100">
			    <use ng-attr-xlink:href="{{vm.icon}}" xlink:href=""></use>
			</svg>
			{{vm.title}}
		</span>
		<a class="popup__close" ui-sref="home" href="javascript:;" ng-click="$state.go('home')">
			<svg viewBox="0 0 100 100"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg>
		</a>
	</h2>
	<div class="popup__image--primary" ng-style="{'background-image': 'url(' + vm.activeImg + ')'}">
		<!-- <p>{{vm.activeImg}}</p> -->
		<div class="thumbs-container">
			<a class="thumbnail" ng-repeat="img in vm.secondaryThumbs | limitTo:6" ng-click="vm.activeImg = img.base" alt="">
				<img ng-src="{{img.thumb}}" alt="">
			</a>
		</div>
	</div>
<!-- 	<div class="popup__inner">
		<span>{{vm.activeImg}}</span>
	</div>
 -->
</div>