<div class="popup">


	COPIED THIS FROM POI (AKA FEATURES), NOT READY


	<h2 class="popup__header">
		<a class="popup-pg-nav" href="javascript:;" ng-click="vm.setPopupPg()">
			<span href="javascript:;" class="tooltip-container css-tooltip-right color-blue">
			    <span>{{vm.popupNavTooltip}}</span>
			</span>
			<svg viewBox="0 0 100 100">
			    <use ng-attr-xlink:href="{{vm.popupNavIcon}}" xlink:href=""></use>
			</svg>
		</a>
		<span>
			<svg class="popup-icon--type no-hover" viewBox="0 0 100 100" ng-show="vm.showPopupInfo">
			    <use ng-attr-xlink:href="{{vm.typeIcon}}" xlink:href=""></use>
			</svg>
			{{vm.title}}
		</span>
		<a class="popup__close btn" ui-sref="popup" ui-sref-opts="{reload: true}" href="javascript:;">
			<svg viewBox="0 0 100 100"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg>
		</a>
	</h2>
	<div class="popup__page popup__page--pics"
		ng-style="{'background-image': 'url(' + vm.activeImg + ')'}"
		ng-show="vm.showPopupInfo">
		<dir-pagination-controls pagination-id="mainImg"></dir-pagination-controls>
	</div>
	<div class="thumbs-container">
		<dir-pagination-controls pagination-id="thumbs"></dir-pagination-controls>
		<ul class="thumbnail-list">
		    <li dir-paginate="img in vm.secondaryThumbs | itemsPerPage: 5" pagination-id="thumbs">
		    	<a class="thumbnail" ng-click="vm.activeImg = img.base" alt="">
		    		<img ng-src="{{img.thumb}}" alt="">
		    	</a>
		    </li>
		</ul>
	</div>
	<div class="popup__inner popup__page popup__page--info" ng-show="!vm.showPopupInfo">
		<h3>Contact Info</h3>
		<h3>Share this:</h3>
		<h3>Media</h3>
	</div>
</div>