$a-bg-hover-transition: background-color 300ms ease;
$a-icon-fill-trans: fill 300ms ease;

// READY THE ANIMATION LIBRARY! \\
body {
  -webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}

.animated {
  @include animate-prefixer(animation-duration, $base-duration);
  @include animate-prefixer(animation-fill-mode, both);

  &.hinge {
    @include animate-prefixer(animation-duration, $base-duration * 2);
  }
}

// PANELS - VERT \\
.panel.ng-hide- {

  &remove {
    animation: .5s fadeInUp ease;
  }

  &add {
    animation: .35s fadeOutDown ease;
  }

}

.poi-toggles-view-cont {
  @include rem-fall(height, 20);
  @include mq($from: tablet) {
    height: 22rem;
  }
  overflow: hidden;
  position: relative;
}

%l-poi-view-pos {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

$a-poi-trans-dur: .75s;

.poi-toggle-view-- {

  &nav {

    @extend %l-poi-view-pos;
    @extend %l-flex-column;

    // Coming in from the left: nav view
    &.ng-enter {
      animation: $a-poi-trans-dur slideInLeft ease;
    }

    // Nav view as it's leaving
    &.ng-leave {
      animation: $a-poi-trans-dur slideOutLeft ease;
    }

  }

  &page {

    @extend %l-poi-view-pos;

    // Coming in from the right: non-nav views
    &.ng-enter {
      animation: $a-poi-trans-dur slideInRight ease;
    }

    // Page view as it's leaving
    &.ng-leave {
      animation: $a-poi-trans-dur slideOutRight ease;
    }

  }

}
