// From the website (via webcolourdata.com) \\
$dark-brown: #4d4839;
$lt-brown: #a29479;
$med-brown: #957b62;
$pale-blue: #6fa0cf;
$lt-blue-gray: #abc8cf;
$steely-blue: #7198a9;
$lt-purple-blue: #a8b4c6;
$med-dull-blue: #5c7797;
$pink: #d69c87;

// From the logo \\
$sky-blue: rgb(134, 201, 233);
// $paleblue: rgb(192, 229, 238);
$near-black: rgb(15, 15, 16);
$deep-blue: rgb(30, 60, 142);
$green: rgb(62, 106, 43);
$peach: rgb(252, 202, 138);
$med-blue: rgb(70, 135, 195);
$baby-puke: rgb(134, 128, 47);

// Primary colors \\
$primary-color: $pale-blue;

// My colors \\
$near-white: #f9f9f9;
