$container-spacing: 20px;
$theme-padding: 30px;
$gutter: 16px;

$bg-pttn-url: '../../../../../themes/sleepingbear/images/background.jpg';

.map {
  flex: 1;
}

// MAP WRAP
.map-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.controls {
  box-shadow: 2px 2px 5px #808080;
  left: $container-spacing;
  position: absolute;
  top: $container-spacing;
}

$panel-toggle-padding: 0.8;
$panel-toggle-content-ht: 2.8;
$panel-toggle-ht: $panel-toggle-padding*2 + $panel-toggle-content-ht;

$panel-width: 35%;
$panel-inner-padding: 1;


// PANELS
.panel {
  $bottom: $panel-toggle-ht - $panel-toggle-padding;
  @include rem-fall(bottom, $bottom);
  background: url($bg-pttn-url);
  box-shadow: 0 -5px 25px 0 $dark-gray;
  position: absolute;
  width: 100%;
  z-index: 1000001;

  @include mq($from: tablet) {

    $bottom: $panel-toggle-content-ht + $panel-toggle-padding;
    @include rem-fall(bottom, $bottom);
    max-width: 400px; // looks silly in iPad portrait
    min-width: 320px; // looks silly in iPad portrait
    width: $panel-width;

    &:first-of-type {
      left: 1%;
    }

    &:nth-of-type(2) {
      left: 20%;
    }

    &:nth-of-type(3) {
      left: 45%;
    }

    &:nth-of-type(4) {
      right: 1%;
    }

  }

}


// POPUPS
.popup {
  background: url($bg-pttn-url);
  box-shadow: 2px 2px 5px #808080;
  // height: 250px; // trans background on these looks cool
  position: absolute;
  right: $container-spacing/2;
  top: $container-spacing/2;
  z-index: 2; // gets above controls

  @include mq($from: tablet) {
    width: 320px;
  }

  // fill it up on mobile
  @include mq($until: tablet) {
    bottom: $container-spacing/1.7;
    left: $container-spacing/1.7;
    right: $container-spacing/1.7;
    top: $container-spacing/1.7;
    width: auto;
  }

}

.column-50 {
  width: 50%;
}

.flex {
  display: flex;
  justify-content: space-around;
}
