$panel-spacing: 20px;
$theme-padding: 30px;

.map {
  flex: 1;
}

// MAP WRAP
.map-wrapper {
  display: flex;
  flex-direction: column;
  height: 450px;
  left: $theme-padding*-.5;
  position: relative;
  width: calc(100% + #{$theme-padding});

  * {
    font-family: 'Average Sans', sans-serif;
  }
  
  @include mq($from: tablet) {
    height: 550px;
    left: 0;
    width: 100%;
  }

}

.map-wrapper.fullscreen {
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

// @warn $mobile-left;
