// Override theme's defaults

// For fuller fullscreen?
html {
  height: 100%;
  margin: 0;
  width: 100%;
}

// Overflow on body
body {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
}

// No right sidebar
#rightcol {
  display: none;
}

// No meta
.article-meta {
  display: none;
}

// Full-width main content
#content-wide {
  background: #fff;
  max-width: 918px;
  outline: 1px solid #c1c1c1;
  padding: 30px;
  width: 100%;
}

// Hidden by default
.entry {
  overflow: visible;
}

// Attribution
.leaflet-container .leaflet-control-attribution {
  background: rgba(255, 255, 255, .4);
  border-top-left-radius: 5px;
  text-align: right;
  width: 190px;
}

*:focus {
  outline: none;
}
