// Override theme's defaults

// @include rem-fall(margin, 10, 20, 30, 40);

// For fuller fullscreen?

%full {
  height: 100%;
  width: 100%;
}
html {
  @extend %full;
  // height: calc(100% + 72px);
  // overflow: hidden;
}

// Overflow on body
body {
  -webkit-backface-visibility: hidden;
  @extend %full;

}

// Even the header goes
input,
#header,
.header,
.footer,
#access,
.article-header,
#rightcol,
.article-meta,
.mnav,
.never-show,
.post > h1 {
  display: none;
}

// Fill it up
body,
.container,
#content-wide,
#main,
#body-area,
.fulltext,
#container,
.content,
.post,
.content .post,
.entry {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}

// Hidden by default
.entry {
  // overflow: visible;
}

h1, h2, h3, h4, p {
  @include rem-fall(margin, 0, 0, 1, 0);
  padding: 0;
}

h3 {
  @include rem-fall(margin, 0, 0, .3, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: solid #aaa 1px;
  border-width: 1px 0 0 0;
  @include rem-fall(margin, .75, 0, 0);
}

label {
  display: block;
}

p {
  @include rem-fall(font-size, .75);
  @include rem-fall(margin-bottom, .35);
  line-height: 1.5;
}

// Attribution
.leaflet-container .leaflet-control-attribution {
  background: rgba(255, 255, 255, .4);
  border-top-left-radius: 5px;
  text-align: right;
  width: 190px;
}

// Make room for panel toggles' box shadow
.leaflet-bottom {
  bottom: 7px;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

}

// Clearfix (included in desktop theme, not mobile)
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

* html .clearfix             { zoom: 1; } /* IE6 */

*:first-child + html .clearfix { zoom: 1; } /* IE7 */