html {

  font-size: 15px;

  // @include mq($from: mobile, $and: '(min-device-height: 481px)') {
  //   font-size: 15px;
  // }

  @include mq(tablet) {
    font-size: 16px;
  }

  @include mq(desktop) {
    font-size: 17px;
  }

}

body {
  color: $c-font;
  font-family: 'Average Sans', sans-serif;
}
