.no-filter {
  filter: none;
}

//vars
$c-fg: $primary-color;
$pi: 3.14;

//config
$menu-items: 6;

$l-ball-ht: 50px;

%ball {
  background: $c-fg;
  border-radius: 100%;
  color: $near-white;
  height: $l-ball-ht;
  left: 0;
  line-height: $l-ball-ht;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  width: $l-ball-ht;
}

%goo {
  filter: url(../img/svg/project/defs/gooey.svg#shadowed-goo);
  -webkit-filter: url("#shadowed-goo");
}

.filter-container-y {
  height: $l-ball-ht*3;
  width: $l-ball-ht;
}
.filter-container-x {
  width: $l-ball-ht*3;
  height: $l-ball-ht;
}

// Hide input
.controls__checkbox {
  display: none;
}

.filter-container-x, .filter-container-y {

  @extend %goo;

  display: block;
  position: absolute;

}

// The nav element
.controls {
  font-size: $l-ball-ht/2;
  text-align: left;

  &__icon {
    // @extend %ball;
    position: absolute;
    fill: $near-white;
    height: $l-ball-ht*.70;
    top: 50%;
    width: $l-ball-ht*.70;
  }

}


.controls__menu-item {

  @extend %ball;

  &:hover {
    background: $near-white;
    color: $c-fg;
  }

  @for $i from 1 through $menu-items {
    &:nth-of-type(#{$i}) {
      transition-duration: 180ms;
    }
  }

}

.controls__label {
  @extend %ball;
  cursor: pointer;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(.175, .885, .320, 1.275);
  z-index: 2;

  &:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }

}

.controls__checkbox:checked + .controls__label {
  transform: scale(.9, .9) translate3d(0, 0, 0);
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.controls__checkbox:checked ~ .filter-container-y > .controls__menu-item {

  transition-timing-function: cubic-bezier(.165, .840, .440, 1);

  @for $i from 1 through 3 {

    &:nth-of-type(#{$i}) {
      transform: translate3d(0, round($l-ball-ht*($i)), 0);
      transition-duration: 90ms+(80ms*$i);
    }
  }

}

.controls__checkbox:checked ~ .filter-container-x > .controls__menu-item {

  transition-timing-function: cubic-bezier(.165, .840, .440, 1);

  @for $i from 1 through 3 {

    &:nth-of-type(#{$i}) {
      transform: translate3d(round($l-ball-ht*($i)), 0, 0);
      transition-duration: 90ms+(80ms*$i);
    }
  }

}

.controls__checkbox:checked ~ .controls__icon {

  transition-timing-function: cubic-bezier(.165, .840, .440, 1);


  // Horizontal axis
  @for $i from 1 through 3 {

    &:nth-of-type(#{$i}) {
      transform: translate3d($l-ball-ht/10, round($l-ball-ht*($i))+10px, 0);
      transition-duration: 90ms+(80ms*$i);
    }
  }

  // Vertical axis
  @for $i from 4 through 6 {

    &:nth-of-type(#{$i}) {
      $o: $i - 3;
      transform: translate3d(round($l-ball-ht*($o+.2))+10px, $l-ball-ht/10, 0);
      transition-duration: 90ms+(80ms*$i);
    }
  }

}


// The burga
.hamburger {
  $width: $l-ball-ht/2;
  $height: 2px;
  background: $near-white;
  display: block;
  height: $height;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  position: absolute;
  top: 50%;
  transition: transform 200ms;
  width: $width;
}

$hamburger-spacing: 6px;

.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}

.controls__checkbox:checked + .controls__label {

  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(.1, 1);
  }

  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
