.temp-div-icon {
    $size: 1.4rem;
    svg {
        background-color: rgba(255,0,0,.8);
        box-shadow: 1px 1px 5px $gray;
        border-radius: 8px;
        display: block;
        fill: $near-white;
        height: $size;
        padding: .1rem;
        position: relative;
        left: $size/-2;
        top: $size/-2;
        width: $size;
    }
}