.temp-div-icon {
    $c-fill: rgb(255,0,0);
    $s: 42px;
    position: relative;
    svg {
        display: block;
        position: absolute;
    }
    .icon--temp--bg {
        fill: $c-fill;
        stroke: darken($c-fill, 20%);
        stroke-width: 30px;
        display: block;
        height: $s;
        left: $s/-3 - 1px;
        top: $s/-1.1;
        width: $s;
    }
    .icon--temp--fg {
        fill: #FFF;
        display: block;
        height: $s/2.2;
        position: absolute;
        top: -.85 * $s + 4px;
        left: -.1 * $s + 1px;
        // width: $s/2;
    }
}
