$panel-toggle-padding: 10px;
$panel-toggle-content-ht: 40px;
$panel-toggle-ht: $panel-toggle-padding*2 + $panel-toggle-content-ht;

$panel-width: 25%;
$panel-inner-padding: 12px;

// Map Panels
.panel {
  background: url('../../../../../themes/sleepingbear/images/background.jpg') center;
  bottom: $panel-toggle-ht - $panel-toggle-padding;
  position: absolute;
  width: 100%;
  z-index: 1000001;

  @include mq($from: tablet) {

    bottom: $panel-toggle-ht;
    width: $panel-width;

    &:nth-of-type(2) {
      left: 25%;
    }

    &:nth-of-type(3) {
      left: 50%;
    }

    &:nth-of-type(4) {
      right: 0;
    }

  }

}

// Panel header
h2.panel-header {
  background-color: lighten($green, 10%);
  color: $near-white;
  font-size: 24px;
  margin: 0;
  padding: 10px $panel-inner-padding;
}

.panel-close {
  color: $near-white;
  display: inline-block;
  float: right;
  margin-top: 5px;

  svg {
    fill: $near-white;
    height: 25px;
  }
}

// Inner padding
.panel-inner {

  font-size: 16px;
  padding: $panel-inner-padding * .75;

  input {
    display: none;
  }

  @include mq($from: tablet) {
    padding: $panel-inner-padding;
  }

}

// TOGGLES \\
.panel-toggle {
  background-color: lighten($green, 25%);
  // background-color: $med-blue;
  color: $near-white;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 1.6em;
  padding: $panel-toggle-padding 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 5px #222;
  width: 25%;

  &:hover {
    background-color: lighten($green, 10%);
    // background-color: $primary-color;
    color: $near-white;
    // color: darken($med-blue, 30%);
    transition: $hover-transition;
  }

  svg {
    display: inline-block;
    fill: darken($med-blue, 30%);
    height: $panel-toggle-content-ht * .75;
    vertical-align: middle;

    @include mq($from: tablet) {
      height: $panel-toggle-content-ht;
    }

  }

  span {
    display: none;

    @include mq($from: tablet) {
      display: inline-block;
      vertical-align: middle;
    }

  }
}

// BASELAYERS \\
.baselayers input, .other-layers input {
  display: none;
  margin: 0;
}


// Animations (move later)
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
// https://github.com/daneden/animate.css
// http://yearofmoo-articles.github.io/angularjs-animation-article/app/#/ng-show-hide
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}