// From the website (via webcolourdata.com)
$dark-brown: #4D4839;
$lt-brown: #A29479;
$med-brown: #957B62;
$pale-blue: #6FA0CF;
$lt-blue-gray: #ABC8CF;
$steely-blue: #7198A9;
$lt-purple-blue: #A8B4C6;
$med-dull-blue: #5C7797;
$pink: #D69C87;

/* From the logo */
$sky-blue: rgb(134, 201, 233);
// $paleblue: rgb(192, 229, 238);
$near-black: rgb(15, 15, 16);
$deep-blue: rgb(30, 60, 142);
$green: rgb(62, 106, 43);
$peach: rgb(252, 202, 138);
$med-blue: rgb(70, 135, 195);
$baby-puke: rgb(134, 128, 47);

// Primary colors \\

$primary-color: $pale-blue;

// Secondary colors \\


// FONT COLORS


// PANEL COLORS

