<div class="panel" ng-show="vm.panel == 'about'">
	<h2 class="panel--header">Map Info
		<a href="javascript:;" class="panel--close" ng-click="vm.changePanel('')">
			<svg viewBox="0 0 100 100">
    			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
			</svg>
		</a>
	</h2>
	<div class="panel--inner panel-baselayer clearfix">
		<div class="big-radio-container">
			<input id="terrain-toggle" type="radio" value="terrain" name="baselayer-toggle" ng-change="vm.changeTiles('terrain')" ng-model="vm.currentBase.name" />
			<label class="big-radio" for="terrain-toggle">
				<svg viewBox="0 0 100 100">
	    			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mountain"></use>
				</svg>
				<span>Terrain</span>
			</label>
		</div>
		<div class="big-radio-container">
			<input id="aerial-toggle" type="radio" value="aerial" name="baselayer-toggle" ng-change="vm.changeTiles('aerial')" ng-model="vm.currentBase.name" />
			<label class="big-radio" for="aerial-toggle">
				<svg viewBox="0 0 100 100">
	    			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-camera"></use>
				</svg>
				<span>Imagery</span>
			</label>
		</div>
		<p class="panel--descrip">All tiled background maps powered by <a href="https://developers.arcgis.com/" target="_blank">ESRI</a>.</p>
	</div>
</div>