<div class="panel" ng-show="vm.activePanel == 'info'">
    <h2 class="panel__header">
        <a class="btn btn--left" href="javascript:;" ng-click="vm.isInfoHomePage = true; vm.activeInfoPg = 'Home'" ng-class="{'vis-hidden': vm.isInfoHomePage}">
            <svg viewBox="0 0 100 100">
                <use xlink:href="#icon-back"></use>
            </svg>
        </a>
        <span class="popup__header--inner">
            <svg viewBox="0 0 100 100">
                <use xlink:href="#icon-info"></use>
            </svg>
            <span ng-show="vm.activeInfoPg === 'Home'">Help & Info</span>
            <span ng-show="vm.activeInfoPg !== 'Home'">{{vm.activeInfoPgHeader}}</span>
        </span>
        <a href="javascript:;" class="panel__close btn" ng-click="vm.changePanel('')">
            <svg viewBox="0 0 100 100">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
            </svg>
        </a>

    </h2>
    <div class="panel__inner info-page--home" ng-hide="!vm.isInfoHomePage">
        <div class="panel__box">
            <div class="panel__row">
                <h3>Map Credits</h3>
                <ul class="logos">
                    <li>
                        <a href="http://abettermap.com" target="_blank">
                            <img src="src/assets/img/svg/project/abm-logo.svg" alt="A Better Map logo">
                        </a>
                    </li>
                    <li>
                        <a href="http://friendsofsleepingbear.org" target="_blank">
                            <img src="src/assets/img/raster/logos/fosb-logo.png" alt="Friends of Sleeping Bear Dunes
                            logo">
                        </a>
                        </li>
                    <li>
                        <a href="http://www.visitglenarbor.com/" target="_blank">
                            <img src="src/assets/img/raster/logos/glcc-logo.png" alt="Glen Lake CC logo">
                        </a>
                    </li>
                </ul>
                <div class="panel__narrative">
                    <small class="credits">This map was made through a collaborative effort between <a href="http://abettermap.com" target="_blank">A Better Map</a>, <a href="http://friendsofsleepingbear.org" target="_blank">Friends of Sleeping Bear Dunes</a>, and <a href="http://www.visitglenarbor.com/" target="_blank">Glen Lake Chamber of Commerce</a>.</small>
                    <h3>Help & Info</h3>
                    <p>Select a topic below to learn more about the map, Sleeping Bear Dunes National Lakeshore, and The Friends of Sleeping Bear Dunes:</p>
                    <ul class="info-topics-list">
                        <li ng-repeat="t in vm.helpData">
                            <a class="info-topics-link" href="javascript:;"
                                ng-click="vm.setActiveInfoPg(t.subject)">{{t.subject}} >></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel__inner info-page--topic"
        ng-repeat="topic in vm.helpData"
        ng-show="vm.activeInfoPg == topic.subject">
        <div class="panel__box">
            <div class="panel__row">
                <div ng-bind-html="vm.toTrusted(topic.narrative)"></div>
            </div>
        </div>
    </div>
</div>