<div class="panel-toggles">
	<div ng-switch on="vm.panelSwitchStatus">
		<div class="panel" ng-switch-when="background">
			<h2>Background</h2>
			<div ng-init="value='aerial'">
				<input type="radio" id="terrain-toggle" ng-model="value" value="aerial" ng-change='vm.changeTiles(value, "terrain")'>
				<label for="terrain-toggle">Terrain</label>
				<input type="radio" id="aerial-toggle" ng-model="value" value="terrain" ng-change='vm.changeTiles(value, "aerial")'>
				<label for="aerial-toggle">Aerial</label>
			</div>
		</div>
		<div class="panel" ng-switch-when="seasons">
			<h2>Seasons</h2>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, explicabo vel neque ullam, sunt deserunt eligendi a, veritatis velit incidunt fuga quia asperiores ex rerum sint, eum id quasi corporis.
		</div>
		<div class="panel" ng-switch-when="poi">
			<h2>Poi</h2>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis nesciunt, deleniti sit fugit quis temporibus aspernatur facere dolorum reiciendis sint tempora ad ipsum. Dolorem explicabo ab molestias saepe, animi. Veniam.
		</div>
		<div class="panel" ng-switch-when="legend">
			<h2>Legend</h2>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet, quibusdam quisquam inventore perspiciatis a, quasi asperiores ipsum minima corrupti veniam repellendus repudiandae ipsa, sequi, laboriosam tenetur blanditiis consequuntur id?
		</div>
	</div>
	<a href="#"ng-click="vm.changePanel('background')" class="panel-toggle-background">Background</a>
	<a href="#"ng-click="vm.changePanel('seasons')" class="panel-toggle-seasons">Seasons</a>
	<a href="#"ng-click="vm.changePanel('poi')" class="panel-toggle-poi">Points of Interest</a>
	<a href="#"ng-click="vm.changePanel('legend')" class="panel-toggle-legend">Legend</a>
</div>
