<div class="panel" ng-show="vm.panel == 'poi'">
	<h2 class="panel__header">Seasons
		<a href="javascript:;" class="panel__close" ng-click="vm.changePanel('')">
			<svg viewBox="0 0 100 100">
    			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
			</svg>
		</a>
	</h2>
	<div class="panel__inner">TEST Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis nesciunt, deleniti sit fugit quis temporibus aspernatur facere dolorum reiciendis sint tempora ad ipsum. Dolorem explicabo ab molestias saepe, animi. Veniam.</div>
</div>