<div class="panel panel--trail" ng-show="vm.activePanel == 'trail'">
    <h2 class="panel__header">
        <div class="placeholder"></div>
        <span class="popup__header--inner">
            <svg viewBox="0 0 100 100" class="no-hover">
                <use xlink:href="#icon-cyclist"></use>
            </svg>
            <span>The Trail</span>
        </span>
        <a href="javascript:;" class="panel__close btn" ng-click="vm.changePanel('')">
            <svg viewBox="0 0 100 100">
                <use xlink:href="#icon-x"></use>
            </svg>
        </a>
    </h2>
    <div class="panel__inner">
        <div class="panel__box">
            <div class="panel__row">
                <!-- TRAIL PICS & FACES -->
                <h3>Trail Images</h3>
                <div class="panel--trail__label-cont">
                    <!-- Trail Pics -->
                    <input ng-checked="vm.trailPicsState" type="checkbox" id="trail-pics-toggle"
                        ng-click="vm.togglePicsState('trail_pix')">
                    <label class="panel--trail__label" for="trail-pics-toggle">
                        <svg viewBox="0 0 100 100">
                            <use xlink:href="#icon-camera"></use>
                        </svg>
                        Trail Pics
                    </label>
                    <!-- Faces -->
                    <input ng-checked="vm.facesState" type="checkbox" id="faces-toggle"
                        ng-click="vm.togglePicsState('faces')">
                    <label class="panel--trail__label" for="faces-toggle">
                        <svg viewBox="0 0 100 100">
                            <use xlink:href="#icon-faces"></use>
                        </svg>
                        Faces
                    </label>
                </div>
                <h3 class="panel--trail__header">Grade & Caution</h3>
                <div class="panel--trail__label-cont">
                    <!-- GRADE -->
                    <input type="checkbox"
                        ng-repeat-start="overlay in vm.overlayStates"
                        id="{{overlay.layer}}-toggle"
                        ng-change="vm.toggleOverlayState(overlay.layer)" ng-model="overlay.on">
                    <label class="panel--trail__label space-around" for="{{overlay.layer}}-toggle"
                        ng-repeat-end>
                        <svg viewBox="0 0 100 100">
                            <use ng-attr-xlink:href="{{overlay.icon}}" xlink:href=""></use>
                        </svg>
                        {{overlay.name}}
                        <span class="legend-line">
                            <span ng-class="'line-overlay--' + overlay.layer"></span>
                        </span>
                    </label>
                </div>
                <!-- SKI CONDITIONS -->
                <div ng-show="vm.showTrailCondition()">
                    <h3 class="panel--trail__header">Current Ski Conditions</h3>
                    <div class="panel--trail__label-cont trail__label-cont--cond">
                        <input type="checkbox" id="trail-cond-toggle"
                            ng-model="vm.trailCondState"
                            ng-change="vm.toggleOverlayState('trail_condition')">
                        <label class="panel--trail__label trail-cond" for="trail-cond-toggle">
                            <svg viewBox="0 0 100 100" class="toggle__icon--trail-cond">
                                <use xlink:href="#icon-trail-cond"></use>
                            </svg>
                            Current Ski Conditions
                        </label>
                    </div>
                </div>
                <div class="panel__narrative">
                    <p>The map has a large image library of trail scenes and visitors enjoying the Trail. Select one or both options, then click the Trail to view photos.</p>
                    <p>While the Trail is mostly flat, there are a few hills and a handful of cautionary segments. Click the "Grade" and "Caution" buttons to turn these on or off.</p>
                    <p>Enable the "Current Ski Conditions" option to display the most current Trail photos (winter only).</p>
                </div>
            </div>
        </div>
    </div>
</div>