<div class="panel" ng-show="vm.activePanel == 'seasons'">
	<h2 class="panel__header">Seasons
		<a href="javascript:;" class="panel__close" ng-click="vm.changePanel('')">
			<svg viewBox="0 0 100 100">
    			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
			</svg>
		</a>
	</h2>
	<div class="needsclick panel__inner clearfix">
		<p>The Heritage Trail is a dynamic landscape that changes throughout the year. Choose a season below, then click on the Trail to see how it looks during that season. Your choice also sets the map to display only the corresponding businesses and facilities operating seasonally.</p>
		<hr>
		<!-- <h3>Choose a Season:</h3> -->
		<div class="seasons-container clearfix">
			<input class="panel__radio" name="seasons-toggle" type="radio" id="winter-toggle" ng-model="vm.season" value="winter" ng-click="vm.changeSeason()">
			<label class="input-hover panel__label--seasons" for="winter-toggle">
					<svg class="panel__icon winter" viewBox="0 0 100 100">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-snowflake"></use>
					</svg>
			</label>
			<input class="panel__radio" name="seasons-toggle" type="radio" id="spring-toggle" ng-model="vm.season" value="spring" ng-click="vm.changeSeason()">
			<label class="input-hover panel__label--seasons" for="spring-toggle">
					<svg class="panel__icon spring" viewBox="0 0 100 100">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-grass"></use>
					</svg>
			</label>
			<input class="panel__radio" name="seasons-toggle" type="radio" id="summer-toggle" ng-model="vm.season" value="summer" ng-click="vm.changeSeason()">
			<label class="input-hover panel__label--seasons" for="summer-toggle">
					<svg class="panel__icon summer" viewBox="0 0 100 100">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sun"></use>
					</svg>
			</label>
			<input class="panel__radio" name="seasons-toggle" type="radio" id="fall-toggle" ng-model="vm.season" value="fall" ng-click="vm.changeSeason()">
			<label class="input-hover panel__label--seasons" for="fall-toggle">
					<svg class="panel__icon fall" viewBox="0 0 100 100">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-maple-leaf"></use>
					</svg>
			</label>
		</div>
	</div>
</div>