/* MAIN IMAGE */

.active-img-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  @include mq($from: mobile, $and: '(min-device-height: 481px)') {
    bottom: 2.9rem;
    top: -.3rem;
  }
}

.active-img  {

  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;

}

/* THUMBS */

// <div> including thumbs pagination
.thumbs-container {

  background-color: rgba($c-panel-header, .65);
  bottom: 0;
  box-shadow: 0 -2px 15px 0 rgba($near-white, .5);
  flex-flow: row nowrap;
  height: 3.4rem;
  padding: .25rem 0;
  position: absolute;
  text-align: center;
  width: 100%;

  @include mq($from: mobile, $and: '(min-device-height: 481px)') {
    background-color: $c-panel-header;
  }

}

// Pagination and thumbnail list
.pagination, .thumbnail-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// The <ul>
.thumbnail-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 86%;
}

.pagination {
  position: absolute;
  top: calc(50% - 3.3rem);
  bottom: auto;
  left: 0;
  right: 0;
}

.disabled {
  display: none;
}

// Nearby results tab
.nearby-tab {

  background-color: rgba($c-panel-header,.65);
  border-radius: 10px 10px 0 0;
  bottom: 3.4rem;
  box-shadow: 0 -7px 15px 0 rgba($near-white,.1);
  color: $near-white;
  left: .5rem;
  line-height: 1;
  padding: .2rem .5rem .1rem;
  position: absolute;
  text-shadow: 1px 1px 1px darken($c-panel-header, 15%);

  @include mq($from: $mobile, $and: '(min-device-height: 481px)') {
    background-color: $c-panel-header;
  }

}

.icon--nearby {
  $s: 1rem;
  fill: $near-white;
  height: $s;
  width: $s;
  vertical-align: bottom;
}

/* List items */
.pagination-arrow-container {

  position: absolute;
  text-align: center;
  // height: 3.3rem;

  @include mq($from: desktop){
    a:hover {
      background-color: darken($c-btn-bg, 5%);
    }
  }

  &:first-of-type {
    left: 0;
    a {
        border-radius: 0 2.5rem 2.5rem 0;
        padding: .94rem .5rem .94rem .3rem;
    }
  }
  &:last-of-type {
      right: 0;
    a {
      border-radius: 2.5rem 0 0 2.5rem;
      padding: .94rem .3rem .94rem .5rem;
    }
  }

  a {
    display: block;
    transition: background-color 300ms ease;
    font-size: 3.5rem;
    font-weight: 100;
    height: 3.7rem;

    line-height: .25;

      padding: .94rem .3rem .94rem .5rem;
    color: $near-white;
  // padding: 1rem;
  background-color: rgba(lighten($c-btn-bg, 10%),.85);
  border-color: lighten($c-btn-bg, 10%);
    text-decoration: none;
  }
}

.thumbs-container {
  .pagination {
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }
  .pagination-arrow-container {
    a {
      height: 3.4rem;
      // background-color: transparent;
    }
    &:first-of-type {
      left: 0;
      a {
          border-radius: 0 2.5rem 2.5rem 0;
          padding: .74rem .35rem .94rem .25rem;
      }
    }
    &:last-of-type {
        right: 0;
      a {
        border-radius: 1.75rem 0 0 1.75rem;
        padding: .74rem .25rem .94rem .35rem;
      }
    }
  }
}

/* <li> (where the repeat happens) */
.thumb {
  // flex: 0 20%;
  flex-grow: 1;
  min-width: 20%;
  text-align: center;
}

/* <a> elements */
.thumbnail {
  $s: 2.85rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 0 3px hsl(209, 51%, 36%);
  cursor: pointer;
  display: inline-block;
  height: $s;
  // margin: .1rem 0 .25rem;
  opacity: 1;
  position: relative; // for distance container
  transition: 300ms all ease;
  width: $s;
}

.thumb-distance {
  background-color: darken($c-panel-header, 10%);
  color: $near-white;
  font-size: .6rem;
  padding: 0 0 0 .2rem;
  border-top-left-radius: 5px;
  position: absolute;
  bottom: 0;
  text-align: left;
  right: 0;
  text-decoration: none;
}
