/* Same as panels, almost... */
.popup {

  @include mq($from: tablet) {
    border-radius: 8px 8px 4px 4px;
  }

  &.brown-bg {
    // background-color: $c-panel-bg;
    background: url('../img/raster/background.jpg');
    .popup__header {
      background-color: $c-panel-header;
    }
  }

  &.blue-bg {
    background-color: lighten($c-panel-header, 20%);
  }

  &__inner {

    @extend %panel__inner;
    top: 0;
    @include mq($from: mobile, $and: '(min-device-height: 481px)') {
      top: 3.1rem;
    }

    display: block;

  }

  &__box {
    @extend %panel__box;
  }

  &__row {

    padding: 1.2rem;

  }

}

.flip {

  transform-style: preserve-3d;
  transition: 1s ease-out;

  // Keep it backwards when hidden
  &.ng-hide {
    opacity: 0;
    transform: rotateY(180deg);
  }

  &--infoPg {

    margin-top: 3.3rem;

    &.ng-hide-add.ng-hide-add-active {
      backface-visibility: visible;
      transform: rotateY(-180deg);
      // transition: none;
    }

    @include mq($from: mobile, $and: '(min-device-height: 481px)') {
      margin-top: 0;
    }

  }

  &--imgPg {

    // Has to be absolute
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    @include mq($from: mobile, $and: '(min-device-height: 481px)') {
      top: -2px;
    }

    &.ng-hide-add.ng-hide-add-active {
      backface-visibility: visible;
      transform: rotateY(-180deg);
      // transition: none;
    }

  }

}

/* The main header */
.popup__header {

  @extend %panel__header;

  background-color: rgba($c-panel-header, .65);
  border-bottom: solid darken($c-panel-header, 5%) 1px;
  padding: .5rem;
  position: absolute;
  text-shadow: 1px 1px 1px darken($c-panel-header, 15%);

  @include mq($from: mobile, $and: '(min-device-height: 481px)') {
    background-color: $c-panel-header;
  }

  @include mq($from: tablet) {
    border-radius: 8px 8px 0 0;
  }

  &--inner {
    width: 255px;
    padding: 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }

}

svg.popup-icon-sm {
  height: 1.3rem;
  width: 1.3rem;
  margin-top: -5px;
  vertical-align: middle;
}

.popup-pg-nav {

  @include mq($from: desktop) {

    transition: $a-all-hover-transition;

    &:hover {
      .css-tooltip-right {

        display: block !important;

        span {
          left: 40px;
        }

      }

      svg {
        fill: $c-panel-icon;
      }

    }

  }

}

.tooltip-container {
  height: 50px;
  width: 50px;
}
