.popup {

  /* Same as panels, almost */

  background-color: lighten($c-panel-header,20%);


  &__inner {

    @extend %panel__inner;

    &--fluid {
      display: block;
      top: 0;
    }

  }

  &__box {
    @extend %panel__box;
  }

  &__row {
    @extend %panel__row;



    // No padding
    &--noPad {
      padding: 0;
    }

  }

}

.flip {

  transform-style: preserve-3d;
  transition: 1s ease-out;

  // Keep it backwards when hidden
  &.ng-hide {
    opacity: 0;
    transform: rotateY(180deg);
  }

  &--infoPg {

    &.ng-hide-add.ng-hide-add-active {
      backface-visibility: visible;
      transform: rotateY(-180deg);
      // transition: none;
    }

  }

  &--imgPg {

    // Has to be absolute
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &.ng-hide-add.ng-hide-add-active {
      backface-visibility: visible;
      transform: rotateY(-180deg);
      // transition: none;
    }

  }

}

/* Info/content page */
.popup__inner--info-pg {


}


.popup__header {

  @extend %panel__header;
  text-shadow: 1px 1px 1px darken($c-panel-header,25%);
    background-color: rgba($c-panel-header,.65);
    @include mq($from: tablet){
      background-color: $c-panel-header;
    }
  position: absolute;
  border-bottom: solid darken($c-panel-header,5%) 1px;

  padding: .5rem;
  &.fluid-header {
    position: static;
  }
  &--inner {
    width: 255px;
    padding: 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }

}
svg.popup-icon-sm {
  height: 1.3rem;
  width: 1.3rem;
  margin-top: -5px;
  margin-right: -3px;
  vertical-align: middle;
}
.popup-pg-nav {
  @include mq($from: desktop){
    transition: $a-all-hover-transition;

    &:hover {
      .css-tooltip-right {
        display: block !important;
        span {
          left: 40px;
        }
      }
      svg {
        fill: $c-panel-icon;
      }
    }
  }
}

.tooltip-container {
  height: 50px;
  width: 50px;
}

.active-img-container {
  // background-color: $c-panel-header;
  position: absolute;
  // flex: 0 100%;

  width: 100%;
  height: 100%;
  // height: calc(100% - 6rem);
  @include mq($from: tablet){
  }
}

/* MAIN IMAGE */
.active-img  {
  position: absolute;
  // visibility: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  // position: relative;
  // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  @include mq($from: tablet){
    bottom: 54px;
    top: 50px;
  }
  ////* Animations *////
  // Coming in from the left: nav view
  // &.ng-hide {
  //   animation: $a-poi-trans-dur flipOutY ease;
  // }
    // animation: $a-poi-trans-dur flipInY ease;


  // Nav view as it's leaving
  // &.ng-leave {
  //   animation: $a-poi-trans-dur slideOutLeft ease;
  // }

}

/* THUMBS */
.thumbs-container {
  bottom: 0;
  box-shadow: 0 -2px 15px 0 rgba($near-white,.5);
  background-color: rgba($c-panel-header,.65);
  @include mq($from: tablet){
    background-color: $c-panel-header;
  }
  // display: flex;
  padding: .25rem 0;
  width: 100%;
  text-align: center;
  position: fixed;
  flex-flow: row nowrap;

  @include mq($from: tablet){
    position: absolute;
  }

  // max-width: 1000px;
  height: 3.4rem;
}

.nearby-tab {
  background-color: rgba($c-panel-header,.65);
  @include mq($from: tablet){
    background-color: $c-panel-header;
  }
  text-shadow: 1px 1px 1px darken($c-panel-header,25%);
  position: absolute;
  padding: .2rem .5rem 0;
  bottom: 3.4rem;
  left: .5rem;
  box-shadow: 0 -7px 15px 0 rgba($near-white,.1);
  border-radius: 10px 10px 0 0;
  color: $near-white;
}

.icon--nearby {
  $s: 1rem;
  fill: $near-white;
  height: $s;
  width: $s;
  margin-top: -2px;
}

.pagination, .thumbnail-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.thumbnail-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.pagination {
  left: 0;
  right: 0;
  // position: absolute;
}

.pagination span {
  color: $near-white;
  font-size: 3rem;
}
.disabled {
  display: none;
}
.popup-nav {
  $l-main-nav-gutter: 7px;
  top: calc(50% - 1.2rem);
  position: absolute;
    background-color: $c-btn-bg;
    border-radius: 3rem;
    padding: 1.25rem;
    @include mq($from: desktop) {
      transition: $a-all-hover-transition;
      &:hover {
        background-color: rgba($c-panel-header, .9);
      }
    }

  &:first-of-type {
    left: $l-main-nav-gutter;
    a {
      left: 0;
      font-weight: bold;
    }
  }
  &:last-of-type {
      right: $l-main-nav-gutter;
    a {
      right: 0;
      span {
        left: .9rem;
      }
    }
  }
  a {
    height: 100%;
    display: block;
    width: 100%;
    position: absolute;
    // left: 0;
    text-align: center;
    top: 0;
    span {
      position: absolute;
      top: -1.1rem;
      height: 1.2rem;
      left: .7rem;
    }
  }
}

.thumb {

    &.ng-enter {
      animation: 1s slideInRight ease;
    }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
      transform: scaleY(1);
      height: 30px;
      opacity: 1;
  }

}

.thumbnail {
  cursor: pointer;
  // display: inline-block;
  // float: none;
  // clear: none;
  flex: auto 18%;
  height: 100%;
  // margin: 0 5px;
  img {
    // display: block;
    height: 2.8rem;
  }
}

.popup__info-wrap {
  margin-top: 3.2rem;
  background-color: $c-panel-bg;
  padding: 1.2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

.popup--info--icon {
    height: 1.8rem;
    width: 1.8rem;
    display: inline-block;
    fill: #f9f9f9;
    margin-right: 5px;
    vertical-align: text-bottom;
    // padding: 4px 0px;
    // padding: 0.25rem 0rem;
    fill: #2d5e8a;
}
a.email-this {
  color: $near-white;
  font-size: 1.3rem;
  text-align: center;
  margin: .5rem 0 1rem;
  text-decoration: none;
  display: inline-block;
  padding: .72rem .55rem;
  border: solid 1px darken($c-panel-header,5%);
}

h3.info-wrap {
  margin-bottom: .3rem;
  text-align: left;
}

.popup__info-wrap p {
  text-align: left;
  margin: 0 0 .5rem;
}
  .popup__info-wrap .panel__narrative p {
    margin-top: .75rem;
  }