/* Popup Info Page */

// Top-level layout stuff
.popup-info-pg {
  padding: 1.2rem;
  text-align: center;
}

// Name, or type if no name
.popup-info-pg__main-heading {
  border-bottom: dashed gray 1px;
  padding-bottom: .5rem;
  font-size: 1.8rem;
  line-height: 1.1;
  margin: 0;
}

.popup-info-pg__main-header {
  // border-bottom: dashed gray 1px;
}

.divider {
  fill: brown;
  width: 100%;
  height: 25px;
  // display: block;
}

// Blurry background experiment
.blurred-bg {

  transition: opacity 10s ease-out;
  &.ng-hide-add.ng-hide-add-active {
    // animation: $a-poi-trans-dur slideOutLeft ease;
    transition: none;
  }

  &.ng-hide {
    opacity: 0;
  }

  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: sepia(.95) blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
}

.popup-info-pg__content {
  padding: 1.2rem;
  margin-top: 3.2rem;
  background-color: rgba($c-panel-bg, .87);
  text-align: center;
  min-height: 100%;
  // overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

// The little guys
.popup-info-pg__ {

  &subheading {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
    margin: .4rem 0 0;
  }

  &coords {
    font-size: .75rem;
    margin: 0;
  }
}

.icon--heading {
  // display: inline-block;
  fill: $c-panel-header;
  height: 1.8rem;
  margin-right: 5px;
  // vertical-align: bottom;
  width: 1.8rem;

}

.icon--subtitle {
  $s: 1.3rem;
  height: $s;
  width: $s;
}

.popup-info-pg .btn {
  color: $near-white;
  font-size: .9rem;
  text-align: center;
  margin: .5rem 0 1rem;
  text-decoration: none;
  display: inline-block;
  padding: .25rem;
  border: solid 1px darken($c-panel-header,5%);
  svg {
    fill: $near-white;
  }
}

.down-arrow {
  transform: rotate(-90deg);
}

.up-arrow {
  transform: rotate(90deg);
}

.btn--directions__inner-text {
  display: inline-block;
  line-height: 1;
}

/* Sharing buttons list */
.link-sharing-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  >li {
    list-style-type: none;
    flex: 0 19%;
  }
}

.btn--share {
  $s: 2.5rem;
  display: inline-block;
  height: $s;
  padding: 0;
  width: $s;
  margin: 0;
}

// Sharing icons
.icon--share {
  $s: 100%;
  padding: 2px;
  fill: $near-white;
  height: $s;
  width: $s;
  vertical-align: middle;
}