/* INPUTS */

/* Bg, text, and border color for unselected inputs in popups/panels */
%input-hover {
  // background-color: transparent;
  transition: $a-all-hover-transition;

  &:hover {
    background-color: $c-feat-toggle-nav-hover;
    border-color: $c-panel-checked-border;
    color: $near-white;
  }

}

/* PANEL & POPUP INPUTS */
%panel-popup {
  box-shadow: 0 -5px 25px 0 $dark-gray;
  position: absolute;
  width: 100%;
  z-index: 1000001;
  overflow: auto;
  overflow-x: hidden;
}

.panel, .popup {

  @extend %panel-popup;

  /* Unchecked labels */
  input:not(:checked) + label {
    background-color: $c-panel-unchecked-fill;
    border-radius: 10px;
    border: solid $c-panel-unchecked-border 1px;
    color: lighten($c-panel-unchecked-text, 13%);
    @include mq($from: desktop){
      transition: $a-all-hover-transition;

      &:hover {
        background-color: lighten($c-seasons-label-fill-checked, 2%);
        border-color: $c-panel-checked-border;
        color: lighten($near-black, 5%);
        box-shadow: inset 0 0 5px $c-panel-unchecked-border;
        // text-shadow: 1px 1px darken($dark-gray, 1%);
      }
    }
  }

  /* Checked labels */
  input:checked + label {
    background-color: darken($c-panel-checked-fill, 7%);
    border: solid darken($c-panel-checked-border, 7%) 1px;
    border-radius: 10px;
    color: $c-panel-checked-text;
    text-shadow: 1px 1px 1px $near-black;
    /* Descriptions beneath main text */
    .poi-type__desc {
      color: lighten($near-black, 4%);
    }
  }

}

 /* BUTTONS */
.btn {

  background-color: lighten($c-btn-bg,10%);
  color: $near-white;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 .2rem .2rem;
  // margin-top: .2rem;
  border: solid 1px lighten($c-btn-bg,6%);
  text-decoration: none;

  &.panel__close {
    svg {
      $s: 2.2rem;
      // padding: .3rem;
      height: $s;
      width: $s;

    }
    margin-top: .05rem;
  }

  transition: background-color 300ms ease;
  @include mq($from: desktop){
    &:hover {
      background-color: darken($c-btn-bg,5%);
    }
  }

}


/* FLEXEH */
%flex-centered {
  align-items: center;
  display: flex;
  justify-content: center;
}


%l-flex-column {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* SVG ICONS */
%icon-sm--white {
  @include rem-fall(height, 1.8);
  @include rem-fall(width, 1.8);
  fill: $near-white;
  transition: $a-icon-fill-trans;
  vertical-align: text-bottom;
}

/* No pointer events or fill changes */
.no-hover {
  cursor: move;
  pointer-events: none;
}
/* PANELS/POPUPS */
%panel__label {
  border-radius: 10px;
  display: block;
  float: left;
  padding: 6px;
  text-align: center;
}

// SVG
%panel__icon {
  display: block;
  fill: $c-panel-icon;
  width: 100%;
}

%panel__header {
  align-items: center;
  background-color: $c-panel-header;
  color: $near-white;
  display: flex;
  font-size: $l-panel-header-ht;
  height: 3.3rem;
  justify-content: space-between;
  left: 0;
  margin: 0;
  padding: .5rem .7rem;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;

  svg {
    fill: $near-white;
    height: $l-panel-header-ht + .2rem;
    transition: $a-icon-fill-trans;
    vertical-align: bottom;
    width: $l-panel-header-ht + .2rem;
  }

}

%panel__inner {
  bottom: 0;
  display: flex;
  flex: 1;
  font-size: 1rem;
  left: 0;
  position: absolute;

  right: 0;
  top: 3.3rem;

  // Scrolling
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border: 1px solid rgba($gray, 0.35);
    background-color: rgba(225, 225, 225, .9);
  }
  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #eee;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, rgba($gray,0.15) 20%,rgba($c-panel-header,0) 100%);
  }

}

%panel__box {
  display: flex;
  min-height: -webkit-min-content;
  flex: 0 100%;
}

%panel__row {
  padding: 1.2rem;
  flex: 0 100%;
}

.vis-hidden {
  opacity: 0;
  visibility: hidden;
}
