/* INPUTS */

/* Bg, text, and border color for unselected inputs in popups/panels */
%input-hover {
  // background-color: transparent;
  transition: $a-all-hover-transition;

  &:hover {
    background-color: $c-feat-toggle-nav-hover;
    border-color: $c-panel-checked-border;
    color: $near-white;
  }

}

/* PANEL & POPUP INPUTS */
%panel-popup {
  box-shadow: 0 -5px 25px 0 $dark-gray;
  position: absolute;
  width: 100%;
  z-index: 1000001;
  &::-webkit-scrollbar {
      display: none;
      -webkit-appearance: none;
    width: 12px;
    height: 12px;
  }
  .ui-dialog-content::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .ui-dialog-content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid rgba(24, 30, 43, 0.85);  /*should match background, can't be transparent */
    background-color: rgba(225, 225, 225, .9);
  }
  overflow: auto;
}

.panel, .popup {

  @extend %panel-popup;

  /* Unchecked labels */
  input:not(:checked) + label {
    background-color: $c-panel-unchecked-fill;
    border-radius: 10px;
    border: solid $c-panel-unchecked-border 1px;
    color: $c-panel-unchecked-text;
    @include mq($from: desktop){
      transition: $a-all-hover-transition;

      &:hover {
        background-color: $c-seasons-label-fill-checked;
        border-color: $c-panel-checked-border;
        color: $near-white;
      }
    }
  }

  /* Checked labels */
  input:checked + label {
    background-color: $c-panel-checked-fill;
    border: solid $c-panel-checked-border 1px;
    border-radius: 10px;
    color: $c-panel-checked-text;
    text-shadow: 1px 1px 1px $near-black;
  }

}

 /* BUTTONS */
.btn {

  background-color: lighten($c-btn-bg,10%);
  cursor: pointer;
  border-radius: 5px;
  padding: 0 3px 4px;
  // margin-top: .2rem;
  border: solid 1px lighten($c-btn-bg,6%);
  text-decoration: none;

  &.panel__close {
    svg {
      $s: 2.2rem;
      // padding: .3rem;
      height: $s;
      width: $s;

    }
    float: right;
    margin-top: .05rem;

  }

  &.btn--left {
    float: left;
  }

  transition: background-color 300ms ease;
  @include mq($from: desktop){
    &:hover {
      background-color: darken($c-btn-bg,5%);
    }
  }

}


/* FLEXEH */
.flex {
  display: box;
  display: flex;
  justify-content: space-around;
}

.flex-between {
  display: box;
  display: flex;
  justify-content: space-around;
}

.flex-vert {
  display: box;
  display: flex;
  flex-direction: column;
}

%l-flex-column {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* SVG ICONS */
%icon-sm--white {
  @include rem-fall(height, 1.8);
  @include rem-fall(width, 1.8);
  fill: $near-white;
  transition: $a-icon-fill-trans;
  vertical-align: text-bottom;
}


/* HALF-WIDTH COLUMNS */
.column-50 {
  float: left;
  width: 49%;

  &:first-of-type {
    margin-right: 2%;
  }
}

/* No pointer events or fill changes */
.no-hover {
  cursor: move;
  pointer-events: none;
}
/* PANELS/POPUPS */
%panel__label {
  border-radius: 10px;
  display: block;
  float: left;
  padding: 6px;
  text-align: center;
}

// SVG
%panel__icon {
  display: block;
  fill: $c-panel-icon;
  width: 100%;
}

%panel__header {
  background-color: $c-panel-header;
  color: $near-white;
  font-size: $l-panel-header-ht;
  height: 3.3rem;
  left: 0;
  margin: 0;
  padding: .5rem .7rem;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;

  svg {
    fill: $near-white;
    height: $l-panel-header-ht + .2rem;
    width: $l-panel-header-ht + .2rem;
    transition: $a-icon-fill-trans;
    vertical-align: bottom;
    // @include mq($from: desktop) {
    //   &:hover {
    //     fill: $c-panel-icon;
    //   }
    // }
  }
}

%panel__inner {
  &::-webkit-scrollbar {
      display: none;
  }
  bottom: 0;
  display: flex;
  flex: 1;
  font-size: 1rem;
  left: 0;
  position: absolute;
  overflow-x: auto;
  right: 0;
  top: 3.2rem;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

%panel__box {
  min-height: -webkit-min-content;
  display: flex;
  flex: 0 100%;
  &::-webkit-scrollbar {
      display: none;
  }
}

%panel__row {
  padding: 1rem;
  // border-right: 1px solid #999;
  width: 100%;
  &::-webkit-scrollbar {
      display: none;
  }
}

